html { 
  background: url(https://www.coindesk.com/resizer/ADSVwbZ9tR7qqg3t29LkjVwB_Bg=/1200x628/center/middle/cloudfront-us-east-1.images.arcpublishing.com/coindesk/GNYP26OXSRH3TCU6ISRYQPUW34.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
    height: 100%;
}

h1 {
    font-family: 'Spirax', cursive;
    font-size: 1.8em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    opacity: 0.2;
}